.navi{
    background-color: black;
    width: 800px;
    height: 60px;
}
.red{
    background-color: red;
    width: 400px;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    /* margin: 0; */
}
.green{
    background-color: green;
    width: 400px;
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
footer{
    background-color: black;
    width: 800px;
    height: 40px;
    color: white;
    text-transform: uppercase;
}
.copyright{
    text-align: center;
    font-family: serif;
    padding: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;

}
nav ul li{
    display: inline-block;
    margin: 15px 30px 10px 0px;
    font-size: 25px;
}